manifest {
    name            = 'nf_splicing'
    author          = 'Fei Sang'
    description     = 'Splicing Minigene Mutagenesis Analysis pipeline'
    homePage        = 'https://github.com/wtsi-hgi/nf_splicing'
    version         = '2.1.1'
    nextflowVersion = '>=23.10.0'
}

params {
    help                        = false
    version                     = false
    pipeline_name               = manifest.name
    pipeline_version            = manifest.version
    sanger_module               = false

    sample_sheet                = null
    library                     = "random_intron"
    outdir                      = "$PWD"

    do_pe_reads                 = false
    canonical_method            = "match"

    fastp_cut_mean_quality      = 20
    flash2_min_overlap          = 10
    flash2_max_overlap          = 250
    flash2_min_overlap_outie    = 20
    flash2_max_mismatch_density = 0.25

    bwa_mismatch                = 4
    bwa_gap_open                = "10,10"
    bwa_gap_ext                 = "5,5"
    bwa_clip                    = "1,1"
    filter_softclip_base        = 5

    hisat2_score_min            = "L,0,-0.3"
    hisat2_mp                   = "5,2"
    hisat2_sp                   = "2,1"
    hisat2_np                   = 0
    hisat2_pen_noncansplice     = 0

    do_spliced_products         = false
    regtools_min_anchor         = 5
    regtools_min_intron         = 20

    classify_cluster_tol        = 2
    classify_min_overlap        = 2
    classify_min_cov            = 2
}

process {
    cache = 'lenient'

    cpus   = { 1    * task.attempt }
    memory = { 8.GB * task.attempt }
    time   = { 4.h  * task.attempt }

    errorStrategy = { task.exitStatus in [143,137,104,134,139,130,140] ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = -1

    // resourceLimits = [
    //     cpus   : params.max_cpus,
    //     memory : params.max_memory,
    //     time   : params.max_time
    // ]

    withLabel:process_single {
        cpus   = { 1 }
        memory = { 2.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }

    withLabel:process_low {
        cpus   = { 16 }
        memory = { 8.GB * task.attempt }
        time   = { 12.h * task.attempt }
    }

    withLabel:process_medium {
        cpus   = { 32 }
        memory = { 16.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }

    withLabel:process_high {
        cpus   = { 64 }
        memory = { 64.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }

    withLabel:process_high_memory {
        cpus   = { 40 }
        memory = { 80.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }

    withLabel:process_single_dynamic_memory {
        cpus = { 1 }
        time = { 4.h * task.attempt }
    }

    withLabel:process_low_dynamic_memory {
        cpus = { 16 }
        time = { 12.h * task.attempt }
    }

    withLabel:process_medium_dynamic_memory {
        cpus = { 32 }
        time = { 12.h * task.attempt }
    }

    withLabel:process_high_dynamic_memory {
        cpus = { 40 }
        time = { 12.h * task.attempt }
    }

    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }

    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}